<!DOCTYPE HTML>
<html lang="en" ng-app="csm" ng-controller='MainController'>
	<head>
		<meta charset="UTF-8"/>
		<link rel="shortcut icon" href="./images/popeye.png" type="image/png">
		<title>Sailor</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/custom.css">

		<style>

		
		.container {
			text-align: center;	
		}
		
		.tablerows {
			text-align: left;
		}

		.borders {
			border: 1px solid black;
		}

		</style>
	</head>
	<body>
		<div class="container">

		<!-- header -->

			<header>
			
			</header>
			
			<div class="navbar navbar-default row">
				<ul class="nav navbar-nav">
					<li><a href="#/">Home</a></li>
					<li><a href="#/servers">Servers</a></li>
					<li><a href="#/containers">Containers</a></li>
					<li><a href="#/users">Users</a></li>
					<li><a href ng-click="logout()">Logout</a></li>
					<li><a href data-toggle="modal" data-target="#about">About</a></li>
					<li><a href ng-click="init()">Refresh</a></li>
				</ul>

			</div>	

			<img src="./images/popeye.png">

			<!-- you must add this div in order to support routing to views! it includes the chosen view html here -->
			<div data-ng-view></div>
			

			<!-- footer -->
			<div class="navbar navbar-default navbar-fixed-bottom">
				<!-- <button class="btn btn-primary  navbar-nav" ng-click="logout()">Logout</button> -->
				<p>Sailor</p>
				<p>Or Idgar and Boris Shpilyuck</p>
			</div>	

			<footer class="row">
				<div class="col-sm-12">	
				</div>
			</footer>


		  <!-- Modal -->
		  <div class="modal fade" id="about" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">About</h4>
		        </div>
		        <div class="modal-body">
		          <p>Sailor</p>
		          <p>Or Idgar and Boris Shpilyuck</p>
		        </div>
		        <div class="modal-footer">
		          
		        </div>
		      </div>
		    </div>
		  </div>



			<!-- to route between the views -->
			<!-- <a href="#/view1">View 1</a>
			<a href="#/view2">View 2</a>
			<a href="#/login">Login</a>
			-->

			<!-- bootstrap. JQuery should be before angular -->
			<script src="js/jquery-3.1.0.min.js"></script>
			<script src="bootstrapjs/bootstrap.min.js"></script>

			<!-- angular framework -->
			<script src="js/angular.min.js"></script>
			<script src="js/angular-route.min.js"></script>
			<!-- my module -->
			<script src="js/module.js"></script>
			<script src="js/module-route.js"></script>
			<script src="js/services.js"></script>
			<script src="js/controller.js"></script>
		</div>
	</body>
</html>

