<!DOCTYPE HTML>
<html ng-app="csm" ng-controller='MainController'>
	<head>
		<title>ContainerShipManager</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/custom.css">

		<style>

		
		.container {
			text-align: center;	
		}
		
		.tablerows {
			text-align: left;
		}

		.borders {
			border: 1px solid black;
		}

		</style>
	</head>
	<body>
		<div class="container">

		<!-- header -->

			<header>
			
			</header>
			
			<div class="navbar navbar-default row">
				<ul class="nav navbar-nav">
					<li><a href="#/">Home</a></li>
					<li><a href="#/servers">Servers</a></li>
					<li><a href="#/containers">Containers</a></li>
					<li><a href="#/users">Users</a></li>
					<li><a href ng-click="logout()">Logout</a></li>
					<li><a href ng-click="init()">refresh</a></li>
				</ul>
			</div>	


			<!-- you must add this div in order to support routing to views! it includes the chosen view html here -->
			<div data-ng-view></div>
			

			<!-- footer -->
			<div class="navbar navbar-default navbar-fixed-bottom">
				<!-- <button class="btn btn-primary  navbar-nav" ng-click="logout()">Logout</button> -->
			</div>	

			<footer class="row">
				<div class="col-sm-12">	
						
					</div>
			</footer>

			<!-- to route between the views -->
			<!-- <a href="#/view1">View 1</a>
			<a href="#/view2">View 2</a>
			<a href="#/login">Login</a>
			-->

			<!-- bootstrap -->
			<script src="js/jquery-3.1.0.min.js"></script>
			<script src="bootstrapjs/bootstrap.min.js"></script>

			<!-- angular framework -->
			<script src="js/angular.min.js"></script>
			<script src="js/angular-route.min.js"></script>
			<!-- my module -->
			<script src="js/module.js"></script>
			<script src="js/module-route.js"></script>
			<script src="js/services.js"></script>
			<script src="js/controller.js"></script>
		</div>
	</body>
</html>

