<div>
	<h2>Servers</h2>
	<table class="table table-hover tablerows">
	 	<thead>
	 		<tr>
	 			<th>Id</th>
        <th>Name</th>
        <th>Address</th>

	 			<!-- <th>Hostname</th>
	 			<th>Ip</th>
      -->
	 		</tr>	
	 	<thead>
	 	<tr ng-repeat="server in serversList" ng-click="setClickedRow($index)" ng-class="{'selected':$index == selectedRow}">
	 		<td> {{ server.id }} </td>
	 		<td> {{ server.name }} </td>
      <td> {{ server.address }} </td>
      <!--<td> {{ server.hostname }} </td>
      <td> {{ server.ip }} </td>
      -->
	 	</tr>
	</table>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addServer">Add Server</button>
  <button type="button" class="btn btn-info btn-lg" ng-disabled="selectedRow == undefined" data-ng-click="removeServerDirect()">Remove Server</button>
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#removeServer">Remove Server</button> -->


  <!-- Modal -->
  <div class="modal fade" id="addServer" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Server</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          </br>
          <!-- <label>Id</label>
          <input type="text" data-ng-model="newserver.id"></input>
      	  </br>
        -->
          <label>Address</label>
          <input type="text" data-ng-model="newserver.address"></input>
          </br>
          <label>Name</label>
          <input type="text" data-ng-model="newserver.name"></input>
          </br>
          <!-- <label>Hostname</label>
          <input type="text" data-ng-model="newserver.hostname"></input>
          </br>

          <label>Ip</label>
          <input type="text" data-ng-model="newserver.ip"></input>
          </br>
          -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="addServer()">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <!--
  <div class="modal fade" id="removeServer" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Remove Server</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          </br>
          <label>Id</label>
          <input type="text" data-ng-model="deleteId"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="deleteServer()">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  -->

</div>