<div>
	<h1>Users</h1>
	<!-- <button class="btn btn-primary" ng-click="getUsersList()">getUsers</button> -->
	<table class="table table-hover tablerows">
	 	<thead>
	 		<tr>
	 			<th>Id</th>
	 			<th>User Name</th>
	 			<th>Permissions</th>
	 		</tr>	
	 	<thead>
	 	<tr ng-repeat="user in usersList" ng-click="setClickedRow($index)" ng-class="{'selected':$index == selectedRow}">
	 		<td> {{ user.id }} </td>
	 		<td> {{ user.name }} </td>
	 		<td> {{ user.permission }} </td>
	 	</tr>
</table>
</div>